.btn {
    display: flex;
    padding: 5px 40px 5px 40px !important;
    border: solid 2px #6C6DBA;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #6C6DBA;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: none !important;
}

.btn:hover{
    background-color: var(--text-color);
    color:#6C6DBA;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}