#sidebar {
    background-color: rgba(64, 85, 206, 0.836);
    grid-area: sidebar;
    padding:10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color:#fff !important;

}

.brand {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px !important;
    margin-top: 15px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: none!important;
}

.sidebar-menu  {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
}

.sidebar-links {
    padding: 13px !important;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    
}

.sidebar-links i {
    padding-right: 6px !important;
    font-size: 12px;
}

.sidebar-links a {
    color: var(--text-color);
    
}

.sidebar-links a:hover {
    background-color: var(--text-color);
    color: #6C6DBA;
    border-radius: 5px;
    padding: 7px 30px 7px 30px !important;
    transition: all 0.3s ease-in-out;
}

